* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F39C12; 
    --secondary-color: #2471A3;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header  {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 70px;
    background-color: var(--secondary-color);
}

header h1 {
    font-size: 36px;
    padding-left: 20px;
    text-shadow: 0 0 15px rgba(231, 76, 60, 0.60);
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    font-size: 25px;
    text-shadow: 0 0 20px rgba(231, 76, 60, 0.75);
    padding: 10px 15px;
    margin: auto 10px
}

header nav ul li a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}

span {
    font-weight: bold;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 2px;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: local;
    background-position: 50%;
    height: 800px;
}

.about {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
}

.about h2 {
    flex: 1;
    text-align: center;
    padding: 20px;
    font-size: 70px
}
.about-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
}

.about-row img {
    width: 30%;
    flex: 1 20%;
}

.about-article {
    font-size: 40px;
    width: 70%;
    flex: 3 50%;
    margin: 0 0 0 35px;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
}
.about-article ul{
    list-style: none;
    height: 100%;
}

.projects {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.projects h2 {
    font-size: 70px;
    border-bottom: 3px solid var(--secondary-color) ;
}

.run-buddy {
    align-items: center;
    margin: 20px;
    text-align: center;
}

.run-buddy h3 {
    padding-top: 10px;
    font-size: 40px;
}

.run-buddy p {
    padding-top: 15px;
    font-size: 30px;
}

.horiseon {
    margin: 20px;
    text-align: center;
}

.horiseon h3 {
    padding-top: 10px;
    font-size: 40px;
}

.horiseon p {
    padding-top: 15px;
    font-size: 30px;
}

.budge-it {
    align-items: center;
    margin: 20px;
    text-align: center;
}

.budge-it h3 {
    padding-top: 10px;
    font-size: 40px;
}

.budge-it h3 a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 5px 10px;
}


.budge-it p {
    padding-top: 15px;
    font-size: 30px;
}

.budge-it-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
}

.contact h2 {
    font-size: 70px;
    flex: 1 100%;
    text-align: center;
    padding: 0 0 35px 0;
}

.contact article {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}

.contact article ul {
    list-style: none;
    text-align: center;
}

.contact article ul li {
    padding: 0 0 30px 0;
    font-size: 40px;
    font-weight: bold;
}

.contact article ul li a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 5px 10px;
}